/* Global Layout Set-up */
* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  text-align: center;
  font-family: 'Open Sans', sans-serif;
  color: #00cdcb;
  background: #2d2b30;
}

/* Link Styles */

a {
  text-decoration: none;
  color: #999;
  transition: all .5s;
}

a:hover {
  color: #999;
}

/* Section Styles */

.main-nav {
  width: 100%;
  background: rgba(45, 43, 48, 1);
  min-height: 30px;
  padding: 10px;
  position: fixed;
  text-align: center;
}

.nav {
  display: flex;
  justify-content: space-around;
  font-weight: 700;
  list-style-type: none;
  margin: 0 auto;
  padding: 0;
}

.nav .name {
  display: block;
  margin-right: auto;
  color: white;
  letter-spacing: 5px;
}

.nav li {
  padding: 5px 10px 10px 10px;
}

a:hover {
  color: white
}

header {
  text-align: center;
  background: url('../img/concert02_no_text.jpg') no-repeat top center ;
  background-size: cover;
  overflow: hidden;
  padding-top: 60px;
  height: 350px;
}



.name{
  font-weight: 300;
}

.header-heading {
  color: white;
  font-size: 3em;
  margin-top: 20px;
  text-shadow: 0 0 1px black;
  margin-bottom: 0;
}

.header-p {
  color: #00cdcb;
  font-size: 2em;
  margin-top: 0;
}





a.buy:hover {
  color: white;
}

.card {
  margin: 30px;
  padding: 20px 40px 40px;
  text-align: left;
  border-top: 4px solid #8fcccb;
  clear: both;
}
.card:hover {
  border-color: white;
}


.photo{
  display: block;
  width: 200px;
  height: 0%;
  margin: 0 auto;
}

.information{
  width: 100%;
  text-align: center;
  /*display: inline-block;
  position: absolute;*/
}

.heading {
  font-size: 2em;
  text-transform: uppercase;
  color: #8fcccb;
  margin-top: 10px;
}

/* Footer styles */

footer {
  width: 100%;
  min-height: 30px;
  padding: 20px 0 40px 20px;
}

footer .copyright {
  top: -8px;
  font-size: .75em;
}

footer ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

footer ul li {
  display: inline-block;
}

.social-list {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

a.social {
  display: inline-block;
  margin-right: 10px;

  background-size: 30px 30px;
  color: #999;
  transition: all .5s;
  font-size: 1rem;
}

a.twitter:before {
  display: inline-block;
  content: url(../img/twitter-32.png);
  
}

a.youtube:before {
  display: inline-block;
  content: url(../img/youtube-32.png);

}

a.spotify:before {
  display: inline-block;
  content: url(../img/spotify-32.png);

}

a.social:hover {
  color: white;
}



/* Styles for larger screens */
@media screen and (min-width: 840px) {

  .flex {
    display: -ms-flexbox;      /* TWEENER - IE 10 */
    display: flex;
    max-width: 1200px;
    -ms-flex-pack: distribute;
  }

  header {
    min-height: 470px;
  }

  .header-heading {
    margin: 0.67em;
    font-size: 4em;
  }

  .header-p {
    margin: 1em;
  }

  .nav {
    max-width: 1200px;
    padding: 0 30px;
  }


  main {
    padding-top: 20px;
  }

  main p {
    line-height: 1.6em;
  }

  .card {
    margin: 40px auto;
    padding: 20px 40px 40px;
    width: 80%;
    max-width: 1000px;
  }

  .photo {
    width: 30%;
    margin: 20px 30px;
  }

  .information {
    text-align: left;
  }

  footer {
    font-size: 1.3em;
    max-width: 1200px;
    margin: 40px auto;
  }
}
