/* Survey page styles */

.photo{
  width: 60%;
  padding: 10px;
}

.survey-heading,
.newsletter-heading {
    font-size: 2rem;
    color: #8fcccb;
}

form {
  margin: 0 auto;
  text-align: left;
  display: inline-block;
}

fieldset {
  font-size: initial;
  color: #00cdcb;
}

input[id="name"]:focus,
input[id="name"]:hover,
input[id="email"]:focus,
input[id="email"]:hover,
input[id="retype"]:focus,
input[id="retype"]:hover,
button[id="submit"]:focus,
button[id="submit"]:hover,
input[id="john"]:focus,
input[id="john"]:hover,
input[id="hazzard"]:focus,
input[id="hazzard"]:hover,
input[id="bob"]:focus,
input[id="bob"]:hover,
input[id="sally"]:focus,
input[id="sally"]:hover,
select:focus,
select:hover,
textarea:focus,
textarea:hover {
  background: #8fcccb;
  color: white;
}

input[type="radio"]:hover,
input[type="radio"]:focus {
  transform: scale(1.5);
}

input[type="radio"] {
  margin-right: 5px;
  float: left;
}

label[for="john"],
label[for="hazzard"],
label[for="bob"],
label[for="sally"] {
  float: left;
}

p#hint-btn,
p#hint-song {
  font-size: 12px;
}

.container{
  text-align: center;
}
.newsletter{
  text-align: right;

}


/* Styles for larger screens */
@media screen and (min-width: 840px) {
  .photo{
    width: 40%;
  }
}

